.blue{
    background-color: blue;
    height: 150px;
    width:100%;
}
.purple{
    background-color: purple;
    height: 155px;
    width: 100%;
}
.pink{
    background-color: pink;
    height: 200px;
    width: 100%;
}
